<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Jobayer</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

    <header>
      <div class="wrapper">
        <h3>Jobayer Bin Showkat</h3>
        <nav>
          <ul>
            <li><a href="../index.html" >Home</a></li>
            <li><a href="" class="current">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="wrapper">

        <section id="mystuff">
          <h2>Get In Touch</h3>

            <ul>
                <li>
                    <img src="images/geek.jpg" alt="facebook">
                    <h3>Facebook</h3>
                    <p>From the latest GPU to the last mems
                      sensors I am on news websites
                       like a webscraper </p>
                </li>
                <li>
                    <img src="images/traveller.JPG" alt="linkedin">
                    <h3>LinkedIn</h3>
                    <p>The only time I can stay with out the
                      internet is when travelling to the wilderness </p>
                </li>
                <li>
                    <img src="images/moments.jpeg" alt="github">
                    <h3>github</h3>
                    <p>The Mega city I live in Dhaka, makes everything
                    seemed futile. But it is the tittle things
                    that makes our life wonderful</p>
                </li>
            </ul>

          </section>

    </main>

    <footer>
      <div class="wrapper">
        <ul>
          <li>
            <div id="copyright">&copy; 2019 Jobayer all right reserved</div>
          </li>
        </ul>
        <ul>
          <li>
            <p>Jobayer.b.showkat@gmail.com</p>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Back to Top</a>
          </li>
        </ul>
      </div>
    </footer>

  </body>
</html>
