<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../images/logos/tablogo.png" type="image/png">
  </head>

  <body>

    <header>
      <div class="wrapper">
        <h3>Jobayer Bin Showkat</h3>
        <nav id="nav">
          <ul>
            <li><a href="../index.html" >Home</a></li>
            <li><a href="" class="current">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="wrapper">

        <section id="mystuff">
          <h3>Get In Touch</h3>

            <ul>
                <li>
                    <a href="https://www.facebook.com/zubair.bin.showkat">
                      <img src="../images/logos/flogo.png" alt="facebook">
                    <a/>
                    <h3>Facebook</h3>
                    <p>Casual Coverstation</p>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jobayer-bin-showkat/">
                      <img src="../images/logos/inlogo.png" alt="linkedin">
                    <a/>
                    <h3>LinkedIn</h3>
                    <p>Some what professional</p>
                </li>
                <li>
                    <a href="https://github.com/Jobayerscode">
                      <img src="../images/logos/gitlogo.png" alt="linkedin">
                    <a/>
                    <h3>Github</h3>
                    <p>Highlights my work</p>
                </li>
            </ul>

          </section>

    </main>

    <footer>
      <div class="wrapper">
        <ul>
          <li>
            <div id="copyright">&copy; 2019 Jobayer all right reserved</div>
          </li>
        </ul>
        <ul>
          <li>
            <p>Jobayer.b.showkat@gmail.com</p>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#nav">Back to Top</a>
          </li>
        </ul>
      </div>
    </footer>

  </body>
</html>
